body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar {
    background-color: #333;
    border-radius: 10px;
    padding: 10px 30px;
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.navbar ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #575757;
}

.navbar ul li .logout-btn {
    background-color: red;
}

.navbar ul li .logout-btn:hover {
    background-color: darkred;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: navy;
    min-width: 100px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px 0;
    top: 100%;  /* Position the dropdown below the navbar */
    left: 0;
}

.dropdown-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    border: 5px solid #333;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.info-boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.info-box {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.info-box:hover {
    background-color: #575757;
}

.budget-box {
    margin-top: 20px;
    width: 240px; /* Combined width of two info boxes plus the gap */
}

.budget-link {
    display: block;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.budget-link:hover {
    background-color: #575757;
}
